/EmployeeManagementSystem/build/
/EmployeeManagementSystem/nbproject/private/
/WorkerManagementSystem/nbproject/private/
/LaptopRAMManagement/nbproject/private/
/RAMManagementSystem/nbproject/private/
/RAMManagementSystem/build/
/RAMManagementSystem/dist/
